<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				SteamLike
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="/Style/style.css">
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light nav-background">

			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('home') }}">Accueil
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('game') }}">Jeux</a>
						</li>
						{# <li class="nav-item">
							<a class="nav-link" href="{{ path('category_game') }}">Catégories</a>
						</li> #}
                        {# Si l'utilisateur est connecté, affiche onglets #}
                        <li>
						{% if app.user %}
							<div class="mb-3">
								Connecté en tant que : {{ app.user.username }}
							</div>
							{% endif %}
						</li>	

                        </ul>
						
						
						
					</ul>
					{# Notif connexion #}
					
					<div class="row">
						<div class="profile-header-container">
							<div class="profile-header-img">
								<ul class="navbar-nav justify-content-end">

										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												{% if app.user %}
													<a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
												{% else %}
													<a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>
													<a class="dropdown-item" href="{{ path('register') }}">S'inscrire</a>
												{% endif %}
										</li> 
											
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>


			
		<div class="container">
          {% block body %}{% endblock %}
		</div>
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
				<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
			</body>
		</html>